@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

@theme inline {
  --color-primary: oklch(22.5% 0.146 265.82);
  --color-primary-foreground: oklch(100% 0 0);

  --color-secondary: oklch(0.69 0.146 265.82);
  --color-secondary-foreground: oklch(100% 0 0);

  --color-destructive: oklch(63.7% 0.237 25.331);
  --color-background: oklch(1 0 0);

  --color-accent: oklch(0.97 0 0);
  --color-border: oklch(0.928 0.006 264.531);

  --color-muted: oklch(0.967 0.003 264.542);
  --color-muted-foreground: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  font-family: 'Geist', sans-serif;
}
